<nav>
  <div class="logo">
    Authentication
  </div>
  <ul>
    <li>
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-tertiary">Logout</button>
      </form>
    </li>
  </ul>
</nav>